@using HairSalon.Models;

<html>
  <head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel='stylesheet' href='~/css/styles.css'>
  </head>
    <body>

    <div class="container">
  	<div class="row">

      <h3>Here are all of the Clients for the stylist:</h3>

      <ol>
          @foreach (Client client in @Model["clients"])
          {
              <li><a href='/stylists/@Model["stylist"].GetId()/clients/@client.GetId()'>@client.GetName()</a></li>
          }
      </ol>
      <form action="/stylists/@Model["stylist"].GetId()/delete" method="post">
        <button class="btn btn-sm" type="submit" name="button">Delete the stylist</button>
      </form>
      <p><a href='/stylists/@Model["stylist"].GetId()/clients/new'>Add a new client</a></p>

      <form action="/clients/deleteAll" method="post">
      <button type="submit" name="button">Clear All Clients</button>
      </form>

      @if (@Model["stylistSpecialties"].Count != 0)
      {
        <h4>Here are all the Specialties in this Stylist:</h4>
        <ul>
          @foreach (var specialty in @Model["stylistSpecialties"])
          {
            <li>@specialty.GetDescription()</li>
          }
        </ul>
      }

      <h4>Add a Specialty to this Stylist:</h4>

    <form action='/stylists/@Model["stylist"].GetId()/specialties/new' method='post'>
      <label for='specialtyId'>Select a Specialty</label>
      <select id='specialtyId' name='specialtyId' type='text'>

        @foreach (var specialty in @Model["allSpecialties"])
        {
          <option value='@specialty.GetId()'>@specialty.GetDescription()</option>
        }

      </select>
      <button type='submit'>Add</button>
    </form>

      <p><a href='/stylists'>Return to stylist list.</a></p>
      <p><a href='/'>Return to Main page</a></p>

    </div>
    </div>

    </body>

  </html>
